
body {
  font-family: Lato;
  font-size:18px;
  line-height:2;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: Merriweather;
  color:#464646;
  line-height:1.2;
}

h1 {
  font-size:40px;
  padding-bottom:20px;
  margin-bottom:10px;
  border-bottom:2px orange solid;
}

div#content > div.summary {
  font-family:Merriweather;
  font-size:smaller;
  color:#464646;
  border-bottom:1px orange solid;
  font-style:italic;
}

h2 {
  margin-top:60px;
  font-size:28px;
}

h3 {
  margin-top:40px;
  font-size:22px
}

code {
  font-family: SourceCodePro, Consolas, "Courier New", Courier, "Nimbus Mono L", monospace;
  background-color:#f3f3f3;
  border-radius:5px;
  padding:3px 5px;
  border:1px solid #cacaca;
  font-size:smaller;
}

pre {
  background-color:#464646;
  overflow:auto;
  padding:20px 20px;
  border-radius:10px;
  line-height:1.2;
  border: 3px double #cacaca;
}

pre code {
  font-size:13px;
  color:#f3f3f3;
  background-color:#464646;
  border:none;
  padding:0;
}

blockquote {
  margin:40px 0px 40px 40px;
  border-top:1px solid orange;
  border-bottom:1px solid orange;
  font-style:italic;
}

div.heading {
  position:relative;
}
div.footer {
  margin-top:40px;
  border-top:2px solid orange;
  font-family:Merriweather;
  font-size:12px;
  color:#929292;
  font-style:italic;
  text-align:right;
  padding:20px 0px;
}
div.footer p {
  margin:0;
}
div.permalink {
  position:absolute;
  margin:auto;
  top:0px;
  left:-60px;
  z-index:20000;
  width:60px;
  height:60px;
  text-align:right;
}
a.permalink {
  display:none;
  padding-right:10px;
  text-decoration:none;
  color:#464646;
}

#content img {
  max-width:100%;
}

ul, ol {
  margin-left:-40px;
}

ul li, ol li {
  margin-left:20px;
}

li p {
  margin-bottom: 0px;
}

table {
  border-collapse: collapse;
}

th, td {
  padding:10px;
  border:1px solid #eaeaea;
  vertical-align:top;
}

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #8acb73; } /* string */
pre .kwd, code .kwd { color: #89bdff; } /* keyword */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment */
pre .typ, code .typ { color: #dbb160; } /* type */
pre .lit, code .lit { color: #b2b869; } /* literal */
pre .pun, code .pun { color: #fff; } /* punctuation */
pre .pln, code .pln { color: #fff; } /* plaintext */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name */
pre .atv, code .atv { color: #8acb73; } /* html/xml attribute value */
pre .dec, code .dec { color: #b2b869; } /* decimal */


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre, pre.code { background-color:#FFF; }
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}

/* Typeahead styling */
.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  text-align:left;
  width:520px;
  margin: 10px 0;
  padding: 10px 10px 20px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  overflow-y: auto;
}

.tt-suggestion-header {
  font-size: 14px;
  border-bottom: 1px solid #cccccc;
}
.tt-suggestion {
  padding: 3px 10px;
  font-size: 14px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, h7 {
	-webkit-transition: text-shadow 0.5s linear;
	-moz-transition: text-shadow 0.5s linear;
	-ms-transition: text-shadow 0.5s linear;
	-o-transition: text-shadow 0.5s linear;
	transition: text-shadow 0.5s linear;
	margin-right: 15px;
}

h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow, h7.glow {
	text-shadow: 0 0 15px cyan;
}

section {
  margin-left:20px;
}

.jstree-default .jstree-node {
  line-height:32px;
}