<div class='expandable-header {{#if content}}active{{/if}}' id='{{uid}}-expand'>
{{heading_open uid heading_level}}{{#if content}}<i class='expandable-icon fas fa-caret-right' id="{{uid}}-expand-icon"></i>{{/if}}{{heading_icon icon}}{{md content_title}}{{permalink uid}}{{heading_close heading_level}}
{{#if content_summary}}
{{summary_open heading_level}}{{md content_summary}}{{summary_close}}
{{/if}}
</div>
{{#if content}}
<div class='expandable-content' id='{{uid}}-expand-content'>
{{md content}}
</div>
{{/if}}
{{print_children heading_level}}
