<div class='expandable-header' id='{{uid}}-expand'>
<div class="heading">
    <h{{heading_level}}>
        <a name="{{uid}}" id="{{uid}}"></a>
        <i class='expandable-icon fas fa-caret-right' id="{{uid}}-expand-icon"></i>
        <div class="permalink"><a href="#{{uid}}" class="permalink fas fa-link"></a></div>
        {{{content_title_html}}}
    </h{{heading_level}}>
</div>
{{summary content_summary_html}}
</div>
<div class='expandable-content' id='{{uid}}-expand-content'>
{{{content_html}}}
{{print_children heading_level}}
</div>