<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{page-title}}</title>
    <script data-main="js/setup" src="js/require.js"></script>
    <link rel="stylesheet" href="fonts/fonts.css" />
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/design.css" />
    <link rel="stylesheet" href="toc/themes/default/style.min.css" />
  </head>
  <body>

  <div id="control-panel">
    <div id="controls">
      <div id="control-find">
        <div id="control-find-content"><div id="find-form"><input id="find" class="typeahead" placeholder="Find something..."></div></div>
        <div id="control-find-zen"><div id="zen-icon-find" class="fas fa-crosshairs"></div></div>
      </div>
      <div id="control-toc">
        <div id="control-toc-content"><div id="toc-form"></div></div>
        <div id="control-toc-zen"><div id="zen-icon-toc" class="fas fa-bars"></div></div>
      </div>
    </div>
    <div id="top-controls">
      <div id="top-controls-slider" class="fas fa-angle-down"></div>
    </div>
  </div>

  <div id="content">

  {{#if content-title}}
  <div class="heading">
  <h1><div class="permalink"><a name="whatever" href="#whatever" class="permalink fas fa-link"></a></div>{{content-title}}</h1>
  </div>
  {{/if}}

  {{#if content-summary}}
  <div class="page-summary">
  <p>{{{content-summary}}}</p>
  </div>
  {{/if}}

  {{{content}}}

  <div class="footer">
    <p>Some footer text. Optional. Copyright &copy; whenever by your bidness.</p>
    <p>Dubbed by <img src="images/mixtape.png" title="Dubbed by mixtape." style="width:40px;position:relative;top:8px"></img> mixtape.</p>
  </div>
  </div>
  </body>
</html>